[["soprasteria-terms-1" :tos/full-text "
Terms of Use

1. Site Publisher

This website is the property of Sopra Steria Group.

Legal Status
Sopra Steria Group
capital of 20,547,701 euros
registered at the Trade and Companies Register of Annecy under number 326 820 065

Registered Office
PAE Les Glaisins - 3 rue du Pré Faucon - Annecy Le Vieux - 74940 Annecy

Headquarters
6 avenue Kleber - FR 75116 Paris

Publication Director
Communications Director

Contact
Phone: +33 (0)1 40 67 29 29
contact-corp@soprasteria.com

Website Hosting Company

GTT Communications - 55 Avenue des Champs Pierreux - 92000 Nanterre
Phone: +33 (0)1 7749 7000
https://www.gtt.net

2. Definitions

Personal Data means any information relating to, either directly or indirectly, an identified or identifiable individual. Such data are collected by the Site Publisher only when Users view or register on the Site as individuals. It is specified that no personal data of a so-called “sensitive” nature (in particular ethnic origin, political, philosophical or religious beliefs, trade union affiliation or personal habits) shall be collected or may be collected.

Information refers to all content of an informational nature or that is not available on the Site.

Product refers to any software or software package published and/or marketed by the Site Publisher or, as the case may be, by the Companies in the Group.

Service refers to a service provided by the Site Publisher or, as the case may be, by the Companies in the Group.

Site refers to the website presenting the Site Publisher’s Products and Services and enabling the online distribution of Information.

Companies in the Group refers to all the Companies in the Sopra Steria Group or to a Company in the group when it is not necessary to identify it specifically. It is underlined that these Companies in the Group are independent corporations and legal entities. The use of the term \"Group Companies\" shall therefore not constitute proof of a joint and several liability both between the said Sopra Steria Group companies and in relation to Users of the Site or, more generally, third parties.

You or the User refers to any visitor, professional or not, to the Site, irrespective of whether they are a customer of the Site Publisher.

3. Scope

The Site Publisher has put this Site online to present to You its Products and Services and provide information related to its business activity, in particular by means of subscriptions to Newsletters, mailings and surveys. The use of this Site implies that you agree to be bound by these Terms of Use, including the “Personal Data Protection Charter”. These Terms of Use are available at any time at the following address:

Sopra Steria – Communications Department – 6 avenue Kleber 75116 Paris.

In addition, it is specified that the Site Publisher may offer other services through this Site, for which specific terms of use must be agreed before any use. In these cases, these specific conditions will supplement these general Terms of Use.

4. Information available on the Site

The Site Publisher makes every effort to offer You verified, accurate and complete Information at the time You view and read it, within the limits of its own knowledge and the information made available to it.

4.1. Information on Products and Services

The Products and Services that are presented to You are not an offer of sale but a general presentation of the range of Products and Services marketed by the Site Publisher and/or Companies in the Group.
The Site Publisher and/or Companies in the Group may modify, at any time and without notice, the Information on this Site relating in particular to the Products and Services.

4.2. Financial Information

The Information displayed on this Site may contain forecasts regarding the financial situation, operating results, activities and strategy of the Site Publisher and/or Companies in the Group. More specifically, statements regarding targets, growth estimates or other trends in operating results are speculative.
These forecasts are based on assumptions that may prove to be inaccurate and depend on risk factors such as the economic and financial outlook. The Site Publisher and/or Companies in the Group assume no responsibility or liability for updating the forecasts due to new information or future events or otherwise.

4.3. Patently Unlawful Information 

The Site Publisher makes every effort to ensure that the content of its Site complies as closely as possible with current regulations and respects your rights. As such, and where the Information appears to be “patently unlawful”, You may request from the Site Publisher the deletion, modification or correction of the Information concerned by sending an email to the following address, attaching the required documentary evidence of your right to take action: webmaster@soprasteria.com

5. Intellectual Property

The Site Publisher and/or Companies in the Group own all the intellectual property rights relating to the Site or own the relevant usage rights.

Access to the Site does not confer any right to the intellectual property rights relating to the Site, which remain the sole property of the Site Publisher and/or Companies in the Group or their partners.

The elements accessible on the Site, such as, but not limited to, texts, photographs, pictures, icons, sounds, videos, software, databases and data are also protected by intellectual and industrial property rights and other private rights that are owned by the Site Publisher and/or Companies in the Group or their partners.

Except as specifically set forth on the Site (provisions expressly inviting You to download a document available on the Site), You may under no circumstances copy, represent, modify, transmit, publish, adapt, on whatever medium or by whatever means, or exploit in any way all or part of the Site without prior written consent from the Site Publisher.

Any use not previously authorised by the Site Publisher, for any reason whatsoever, of all or part of the Site may lead to any appropriate action, including being sued for infringement of intellectual property rights.

Only the use of a qualitatively and quantitatively non-substantial part of the Site is authorised for strictly private and non-commercial purposes.

5.1. Documents Available on the Site 

With regard to the documents available on the Site that You are expressly invited to download, their reproduction is authorised for informational purposes only and for personal use. Any reproduction and use of any copy for any other purpose is strictly forbidden and subject to prior written consent from the Site Publisher. In all cases, any authorised reproduction of information displayed on the Site must indicate the relevant source and ownership.

5.2. Distinctive Signs

Unless otherwise specified, the corporate names, logos, products and brands reproduced and/or mentioned on the Site are the property of the Site Publisher and/or Companies in the Group or of their partners. They may not be used without prior written consent from the aforementioned companies.

Registration Data

For some Services offered on the Site, the Site Publisher requires You to register online (e.g. registration to attend an event or seminar, registration to access downloadable documents or registration to submit an application).

By registering, You agree to provide true, accurate, up-to-date and complete information about You or your company, as requested on the registration form.

Personal data and other personal information that may be required for registration are processed in accordance with the principles implemented by the Site Publisher for the processing of Users’ Personal Data. These principles and a reminder of your rights are detailed in the Personal Data Protection Charter.

7. Limitation of Liability

7.1. Information

In consideration of the nature and purpose of the Information as set forth in Article 4 of these Terms of Use “Information Available on the Site”, You acknowledge that You use such Information under Your sole responsibility and fully assume the risks in relation to the trust You place in it.
As such, the Site Publisher and/or Companies in the Group shall not be held liable for any direct or indirect damages resulting from or related to the use of such Information and more generally from the use of its Site, errors on its Site, the non-availability of Information and/or the presence of viruses on its Site.
Similarly, the Site Publisher and/or Companies in the Group shall not guarantee the exhaustiveness, accuracy, completeness and timeliness of the Information displayed on the Site.

7.2. Hypertext Links

The Site Publisher and/or Companies in the Group expressly disclaim any responsibility for the content of sites to which they provide links. These links are provided to You as a service. It is Your decision alone whether to follow these links.
The insertion of hypertext links pointing to all or part of the Site is prohibited without prior written consent from the Site Publisher. Should You wish to create a hypertext link to the Site, You shall obtain prior written consent from the Site Publisher by contacting: webmaster@soprasteria.com

Downloaded Documents

During the registration process that allows You to download documents from the Site, you are required to provide your User name (i.e. a valid email address) and a password (of your choosing). You shall be solely responsible for keeping your password confidential.

Any downloading of documents from the Site is made at your own risk. You shall be solely responsible for any damage to your computer or for any data loss resulting from downloading such documents.

8. Updates to the Site's Terms of Use

The Site Publisher may update these Terms of Use at any time and without notice. You are therefore advised to refer regularly to the latest Terms of Use available on the Site and in force at the time You connect to the Site.

9. Applicable Law and Assignment of Jurisdiction

As the site and its information is intended primarily for french users, these terms of use for the site are subject to French law.  Any dispute relating to the interpretation and/or execution of the terms of use for the site falls under the jurisdiction of the courts of Paris.
" 1 :add]
 ["soprasteria-terms-1" :tos/source-url "https://www.soprasteria.com/footer/terms-of-use" 1 :add]
 ["soprasteria-terms-1" :tos/retrieved-at "2026-07-19" 1 :add]
 ["soprasteria-terms-1" :tos/sha256 "7b1aa93cd3a5fd4cf9ecb4d463a1903c5414189619da8870baed03e7dd1220a6" 1 :add]
 ["soprasteria-terms-1" :tos/doc-type :terms-of-service 1 :add]]
